:root {
    --color-primary: #a288e3;
    --color-secondary: #7a3f6d;
    --color-terciary: #f7f7f7;
    --color-hover: #f7f7f7;
    --color-text: #3d3d3d;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
} 

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

.header {
    display: flex;
    z-index: 996;
    align-items: center;
    background-color: var(--color-primary);
    box-shadow: rgba(0, 0, 0, 0.8) 0px 30px 100px;
    position: relative;
}

.social__icons i {
    color: var(--color-terciary);
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    transition: all 300ms ease;
}

.social__icons i:hover {
    color: var(--color-secondary);
}

.nav {
    display: flex;
    position: absolute;
    width: 100%; 
    z-index: 997;
}

.social__icons {
    padding: 0.2rem;
    flex-grow: 1;
}

.logo {
    max-width: 300px;
    height: auto;
}

.logo img {
    max-width: 100%;
    height: auto
}

.slogan h2{
    font-weight: normal;
    font-size: 1rem;
    color: var(--color-terciary);
}

.cart__container {
    margin-right: .5rem;
    padding: 1rem;
}

.nav__list {
    box-sizing: border-box;
    padding: 1rem .5rem;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.nav__link {
    font-size: 1rem;
    margin: 1rem;
    color: var(--color-terciary);
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}

.nav__link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.7px;
    background: var(--color-secondary);

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 200ms ease-in;
}

.nav__link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* Carousel */

.carousel {
    width: 100%;
    z-index: -1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 6px 20px;
}

.carousel__slides {
    position: relative;
    height: 550px;
    background-color: #000;
}

.carousel__slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.carousel__slide.active {
    opacity: 1;
    visibility: visible;
}

.carousel img {
    height: inherit;
    width: inherit;
    object-fit: cover;
    opacity: 0.8;
}

.panel-btn {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

/* Parallax */

.news {
    width: 80%;
    font-size: .9rem;
    margin: 0px auto;
    color: var(--color-secondary);
}

.bold {
    font-weight: bold;
}

/* Products */

.grid-container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.products {
    margin: 0;
    padding: 0;
    position: relative;
}

.main__img {
    width: 100%;
}

.hover__img {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: all 200ms ease-in;
}

.hover__img:hover {
    opacity: 1;
}

.detail {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    width: auto;
    color: var(--color-secondary);
    padding: 1rem 0;
}

.details__bottom {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.d__bottom-link {
    padding: .6rem;
    min-width: 10%;
    text-decoration: none;
    text-align: center;
    border-radius: 1rem;
    font-weight: 500;
    color: var(--color-terciary);
    background: var(--color-primary);
    transition: background 0.3s ease 0s, box-shadow 0s ease 0s, transform 0s ease 0s;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px 0px, rgba(0, 0, 0, 0.24) 0px 1px 2px 0px;
}

.d__bottom-link:hover {
    background: var(--color-secondary);
    color: #fff;
}

/* Parallax */

.parallax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("https://images.unsplash.com/photo-1491223343498-58796d6b503d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 300px; 
}

.parallax__title {
    font-size: 2rem;
    padding: 1.5rem;
    color: #fff;
}

.parallax__btn {
    background: var(--color-secondary);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px 0px, rgba(0, 0, 0, 0.24) 0px 1px 2px 0px;
    color: var(--color-terciary);
    text-decoration: none;
    border-radius: 25px;
    font-weight: 500;
    font-size: 1rem;
    padding: .5rem;
    cursor: pointer;
}

.parallax__btn:hover {
    background: var(--color-primary);
}

/* About Us */

.about-us {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 3rem;
    background-color: #e6e6e6;
}

.card__info {
    display: flex;
    flex-direction: column;
    width: 17%;
    align-items: center;
    margin: 0 20px;
}

.card__icon {
    font-size: clamp(2rem, 5vw, 3.5rem);
    color: #56555b;
    padding: 1rem;
}

.card__title {
    padding: 1rem;
    font-size: clamp(.9rem, 1vw, 2rem);
    letter-spacing: 0;
    font-weight: 500;
}

.card__description {
    font-size: clamp(0.7rem, 1vw, 0.8rem);
    width: 90%;
    padding: 1.25rem 0;
    color: #56555b;
}

/* Instagram Feed */

.instagram {
    width: 100%;
    text-align: center;
    font-weight: normal;
    margin: 1rem 0;
    color: var(--color-secondary);
}

.instagram-feed {
    display: flex;
    justify-content: center ;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 6px 20px;
    position: relative;
}

.last__timeline {
    position: relative;
}

.last__timeline img {
    object-fit: cover;
    display: block;
    width: 100%;
}

.post__info {
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    color: transparent;
    transition: all 300ms ease;
}


.like__icon,
.comment__icon {
    font-size: clamp(0.25rem, 3vw, 1.5rem);
}

.post__info:hover {
    background: rgba(78, 8, 69, 0.479);
    color: #fff;
}


/* Footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0px auto;
    background: var(--color-terciary);
    color: var(--color-secondary);
    padding: 2rem 0;
}

.footer__container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    width: 80%;
}

.footer__card {
    width: 20%;
}

.footer__card h5 {
    font-weight: 500;
    padding: 0.5rem;
}

.footer__underline {
    border: 0.5px;
    height: 2px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer__nav {
    display: flex;
    flex-direction: column;
    line-height: 2;
    font-size: 0.7rem;
    padding: 0.5rem;
    margin-top: 1rem;
}

.footer__icons {
    font-size: 1.25rem;
    letter-spacing: 0.5rem;
    padding: 2rem 0;
}

.footer__icons a {
    text-decoration: none;
    color: var(--color-secondary);
}

.footer__credits {
    font-size: .8rem;
    padding: 1rem 0;
    text-align: center;
}


/*Contact Page*/

.contact {
    width: 100%;
}

.contact__info {
    text-align: center;
    line-height: 1.5;
    color: var(--color-secondary);
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 0 auto;
}

.contact-form > * {
    width: 100%;
    font-size: .9rem;
    font-family: 'Poppins', sans-serif;
    color: var(--color-secondary);
}

label {
    text-align: left;
    text-transform: uppercase; 
    margin-top: 1rem;
    padding: .5rem 0;
    color: #56555b;
}

input {
    height: 2.7rem;
    padding: .5rem;
}

textarea {
    min-height: 120px;
    padding: 15px 9px;
    resize: none;
}

label {
    font-weight: bold;
    font-size: 0.8rem;
    text-align: left;
    text-transform: uppercase;
}

.red {
    color: red;
}

.submit__form {
    width: 7rem;
    background-color: var(--color-primary);
    cursor: pointer;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: normal;
    letter-spacing: 1px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    margin: 1rem 0 auto;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px 0px, rgba(0, 0, 0, 0.24) 0px 1px 2px 0px;
}

.contact-form legend,
.contact-form-loader,
.contact-form-response {
    font-size: .8rem;
    font-weight: 500;
    text-align: center;
    margin: 2rem auto;
}

.contact-form-error.is-active {
    display: block;
    animation: show-message 1s 1 normal 0 ease-out both;
}

.none {
    display: none;
}


@media screen and (max-width: 992px) {
    .header {
        position: sticky;
        background-color: var(--color-primary);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 6px 20px;
    }
                    
    .nav {
        flex-direction: column;
        text-align: center;
        transform: translateY(-100%);
        background-color: var(--color-primary);
        bottom: 0;
        top: 0;
        transition: all 300ms ease;
        z-index: 995;
    }
    
    .nav.is-active {
        transform: translateX(0%);
        position: absolute;
    }
    
    .nav__list {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .nav__link {
        font-size: 1.5rem;
    }
                    
    .panel-btn {
        opacity: 1;
        visibility: visible;
        z-index: 999;
        right: 0;
    }
                
    .logo {
        margin: 0 auto;
        margin-top: 4.5rem;
    }

    .logo img {
        width: 70%;
    }

    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
    }
}


@media screen and (max-width: 768px) {
    .about-us {
        display: block;
        padding: 2rem;
    }

    .card__info {
        width: 100%;
        margin: 0 auto;
    }

    .card__title {
        padding: 0;
    }

    .card__description {
        width: 50%;
    }

    .footer__container {
        display: block;
    }

    .footer__card {
        width: 100%;
    }

    .contact-form {
        width: 80%;
    }

    .dinamic-route > * {
        opacity: 0;
    }
}


@media screen and (max-width: 576px) {
    .social__icons {
        display: flex;
        justify-content: space-around;
    }
    
    .slogan {
        display: none;
    }

    .cart__container {
        display: none;
    }

    .contact-form {
        width: 80%;
    }
}



.carousel__title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 2rem;
    color: var(--color-secondary);
    text-transform: uppercase;
}

/* test-mode */
.temporal {
    display: flex;
    margin: 0 auto;
    height: auto;
    max-width: 70%;
}

.page-divider {
    height: 3rem;
}

.dinamic-route {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.actual__route {
    width: 95%;
    padding: 1.5rem 0;
    font-weight: 300;
    font-size: .65rem;
}

.actual__route a {
    text-decoration: none;
}